<head></head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery of Incomplete Projects</title>
  </head>

  <body>
    <div class="container">
        <form>
            <div>
                <h1>The Gallery of Incomplete Projects</h1>
                <input type="text" name="title" id="title" placeholder="Your project title" required>
                <br>
                <textarea placeholder="Description, links, obstacles, etc." required></textarea>
                <br>
                <input type="checkbox" id="checkbox" name="checkbox" value="incomplete" required>
                <label for="checkbox" style="font-size:small"> This project is and shall be permanently incomplete.</label>
                <br>

                <button type="submit">
                    Submit
                </button>
            </div>
            </form>
        
               <pre id="blimp">
                _..--=--..._
                .-'            '-.  .-.
               /.'              '.\/  /
              |=-                -=| (
               \'.              .'/\  \
                '-.,_____ _____.-'  '-'
                    [_____]=8
                    
                    +      .                     '          '                           
                    +.           .              .  +             +
              '       +                              +       |    
             .             '                                -+-   
                         .      .                +           |    
               .                                       .          
. .             .     '                                    .         
           * o         '                   .               .      
                      .                     '   +      +      '   
                .    .  .             .                           
        +           +    .              +    o                 .  
'.           .-.                .     o                           
        *   ( (        .                                .       . 
             `-'    .  o                              '           
                **                o    o                    +     
+   .                  * .     |     ' '                          
        + '                  --o--  |      *   oo               . 
*         .        '.       *  |  --o--                    o      
    +                               |        .                   .
o           .   .           o                .                    
            
                </pre>
           
        
    </div>
<div id="summary">
The Gallery of Incomplete Projects is a space to release perpetually incomplete projects to the world.
The gallery aims to provide closure through ritual, and to give projects a purposeful second life as potentially inspiring ideas. 
<br>
<br>
<strong>Browse projects:</strong>
   
<ul>
    <details><summary>Title</summary>
       <p> Stuff stuff stuff <p> 
        </details>

        <details><summary>stuff</summary>
            <p>  Stuff stuff stuff <p> 
            </details>
</ul>
 



</div>
  </body>